html, body{
    scroll-behavior: smooth;
    height: 100%;
    position: relative;
}

/* body {
    margin: auto 3em;
} */

.content {
    width: 80%;
}

/* footer */
.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    padding: 5em auto;
    width: 100%;
    background-color:#333333;
    color: white;
    text-align: center;
}

.footer > p {
    margin: 1.3rem;
}