/* mobile first */
.landing-grid {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 0 5%;	
    align-items: center;
    margin-bottom: 50px;
  }
  .landing-text > h3 {
    text-align: center;
  }
  .landing-text > p {
    text-align: center;
  }

  /* project color */
  #mitigate {
    background-color: rgba(43, 47, 51, 0.05);
  }

  #sheepy {
    background-color: rgba(240, 201, 41, 0.25);
  }

  /* project demo */
  .demo {
    gap: 1rem;
    padding-bottom: 5em;
    align-items: center;
  }
  .gif {
    display: flex;
    justify-content: center;
  }

  /* research finding */
  .proj-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
  .proj-card {
    width: 100%;
    border: 1px solid rgba(0,0,0,.125);
    margin-bottom: 1rem;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 160px;
    border-radius: .25rem;
    padding: 1.25rem;
    }

/* media query goes below here */
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .landing-grid {
        /* display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px; */
        flex-direction: row;
      }
      .landing-text {
        position: relative;
        padding: 20px 0;
      }
      .landing-text > h3 {
        text-align: left;
      }
      .landing-text > p {
        text-align: left;
      }
      /* .flex-2 {
          flex-direction: row;
      } */
      .demo-reverse {
          flex-direction: row-reverse;
      }
      /* .demo {
        gap: 1rem;
      } */
      .proj-container {
        flex-wrap: nowrap;
    }
      .proj-card {
        margin-right: 1rem;
        }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}